<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> LOGIN</title>
  <link rel="stylesheet" href="/css/views/admin/login.css  ">
  </head>
<body class="contenido">
<%- include('./../../partials/header-german') %>
  <main class="funkoshop-page-container">
  <section>
    <section class="login-container">
      <h1 class="login-title"> INGRESAR A MI CUENTA</h1>
      <div class="login-form-box--grid">
        <label for="mail">Email:</label>
        <input type="email" name="mail" id="mail" placeholder="johndoe@correo.com"><br>
      </div>
      <div class="login-form-box--grid">
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="*********"><br>
      </div>
      
       <div class="login-form__submission">
        <input class="login-form--btn" type="submit" value="Ingresar">
        <input type="checkbox" name="términos" id="términos">
        <label class="register-form--accept" for="términos">Recordarme<a class="register-form--term" href=""></a></label>
      </div><a href="">Olvidé mi contraseña</a>
    </section>
  </section>
  </main>
<%- include('./../../partials/footer-german') %>
  <script src="./js/item.js"></script>
</body>

</html> 
