/*Normalizado*/
*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: var(--base-font);
  /*font-size: 62.5%; /*Equivale  a 10px, es el 62,5 de 16*/
  font-size: 10px; /*Mas facil que calcular un porcentaje de 16*/
  color: #111;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
  font-family: inherit;
}

header,
footer{
  font-family: var(--alternative-font);
  color: white;
}

ul, ol {
  list-style-type: none;
}

p{
  font-size: 1.8em;
}

