/*HEADER DE CARRITO*/



.header-nav{
  background-color: var(--gris-solid);
  height: 14.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 450px) {
  .header-nav{
    justify-content: space-between;
    flex-direction: row;
    padding-inline: var(--spacing-128);
  };
}

.header-nav__list{
  display: flex;
  gap: var(--spacing-68);
  height: 3.1rem;
  align-items: center;
}

.header-nav__list>li>a{
  font-family: var(--alternative-font);
  font-size: 2em;
  font-weight: 500;
  line-height: 2.3em;
  letter-spacing: 0em;
  text-align: left;
}


/*INICIO HEADER INDEX*/

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__logo {
  max-width: 300px;
}


.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}



.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background .3s ease-in-out;
  position: relative;
  border-radius: 5px;
}

.navbar__link:hover {
  background-color: var(--colorado-900);
}

.navbar__cart {
  padding: var(--spacing-8) var(--spacing-12);
  display: inline-block;
  transition: background .3s ease-in-out;
  position: relative;
  border-radius: 100%;
}

.navbar__cart:hover {
  background-color: var(--colorado-900);

}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.navbar__item {
  position: relative;
}

.navbar__cart-count {
  position: absolute;
  top: -15%;
  left: 70%;
  color: var(--ligh-bg-solid);
  background-color: var(--colorado-solid);
  font-size: var(--font-xsmall);
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.submenu {
  display: none;
  width: 150px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  border-radius: 5px;
  z-index: 3;
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background .3s ease-in-out;
  border-radius: 5px;
}

.submenu__link:hover {
  background-color: var(--colorado-900);

}

.with-submenu:hover .submenu {
  display: block;
}

/*FIN HEADER INDEX*/



