<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Contacto | Funko Shop</title>
</head>
<body class="contenido">
<%- include('./../../partials/header-german') %>
  <main> <!-- INICIO MAIN -->
    <section>
      <h1>CONTÁCTANOS</h1>
      <form action="">
        <label for="nombre"></label>Nombre y apellido<br>
        <input type="text" name="nombre" id="nombre" placeholder="ej.: María Pérez"><br>
        <label for="telefono">Teléfono(opcional)</label><br>
        <input type="number" name="telefono" id="telefono" placeholder="ej.:1132780955"><br>
        <label for="mail">Email</label><br>
        <input type="email" name="mail" id="mail" placeholder="ejemplo@ejemplo.com"><br>
        <label for="comentario">Comentario</label><br>
        <input type="search" name="comentario" id="comentario" placeholder="Escriba su comentario"><br>
        <input type="submit" value="Enviar">
      </form>
    </section>
  </main> <!-- FIN MAIN -->
 <%- include('./../../partials/footer-german') %>
</body>
</html>