
@import url(./../../main.css);



.Section-Editar-Item-edit{

  width: 274px;
  height: 49px;

}

.h6-editar-item-edit{
  
  color: var(#1F1F1F);
  top: 180px;
  left: 109.14px;
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-align: right;
  width: 274px;
  height: 49px;
  top: 180px;
  left: 109.14px;


}