<footer><!-- INICIO FOOTER -->
  <section>
    <nav class="footer-nav">
      <ul class="footer-nav__list">
        <li>
          <a href="./">SHOP</a>
        </li>
        <li>
          <a href="./../admin/login">INGRESAR</a>
        </li>
        <li>
          <a href="./../contact">CONTACTO</a>
        </li>
      </ul>
      <picture>
        <a href="./../"><img src="./../../img/branding/isotype.svg" alt="Isologotipo de la marca Funkoshop"></a>
      </picture>
    </nav>
  </section>
  <p class="footer-all-rights-reserved">
    <span>All rights reserved 2023 - Funkoshop & copy;</span>
  </p>
</footer><!-- FIN FOOTER -->