<footer><!-- INICIO FOOTER -->
  <section>
  <nav class="navbar container">
    <ul class="navbar__item">
      <li class="navbar__item">
        <a class="navbar__link" href="./">SHOP</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="./../admin/register">REGISTRARSE</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="./../admin/login">INGRESAR</a>
      </li>
      <li class="navbar__item">
      <li class="navbar__item">
        <a class="navbar__link" href="./../contact.html">CONTACTO</a>
      </li>
    </ul>
    <picture>
      <a href="./../../index.html"><img src="./../../img/branding/isotype.svg"
          alt="Isologotipo de la marca Funkoshop"></a>
    </picture>
  </nav>
  </section>
  <p class="footer__copy">All rights reserved 2023 - Funkoshop & copy;</p>
</footer><!-- FIN FOOTER -->
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>