<header> <!-- INICIO HEADER -->
  <% if (1 === 1) { %>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="./../../index.html">
            <img src="./../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="./shop">VER TIENDA</a>
          </li>
          <li class="navbar__item with-submenu">
            <a class="navbar__link" href="./admin">ADMIN</a>
          </li>
          <li class="navbar__item with-submenu">
            <a class="navbar__link" href="./logout">SALIR</a>
          </li>
        </ul>
      </nav>
  <% } else {%>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="./../">
            <img src="./../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="./">SHOP</a>
          </li>
          <li class="navbar__item with-submenu">
            <a class="navbar__link" href="./../contact">CONTACTO</a>
          </li>
          <li class="navbar__item with-submenu">
            <a class="navbar__link" href="./../admin/login">LOGIN</a>
          </li>
          <li class="navbar__item with-submenu">
            <a class="navbar__cart" href="./carrito"><iconify-icon icon="tdesign:cart"></iconify-icon></a>
          </li>
        </ul>
      </nav>
    <% } %>
</header> <!-- FIN HEADER -->