<header> <!-- INICIO HEADER -->
  <nav class="header-nav">
    <picture>
      <a href="./../">
        <img src="./../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
      </a>
    </picture>
    <ul class="header-nav__list">
      <li>
        <a href="./">SHOP</a>
      </li>
      <li>
        <a href="./../contact">CONTACTO</a>
      </li>
      <li>
        <a href="./../admin/login">LOGIN</a>
      </li>
      <li>
        <a href="./carrito"><iconify-icon icon="tdesign:cart"></iconify-icon></a>
      </li>
    </ul>
  </nav>
</header> <!-- FIN HEADER -->