<header> <!-- INICIO HEADER -->
  <nav class="header-nav">
    <picture>
      <a href="./../../index.html">
        <img src="./../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
      </a>
    </picture>
    <ul class="header-nav__list">
      <li>
        <a href="./shop.html">SHOP</a>
      </li>
      <li>
        <a href="./../contact.html">CONTACTO</a>
      </li>
      <li>
        <a href="./../admin/login.html">LOGIN</a>
      </li>
      <li>
        <a href="./carrito.html"><iconify-icon icon="tdesign:cart"></iconify-icon></a>
      </li>
    </ul>
  </nav>
</header> <!-- FIN HEADER -->