/*FOOTER DE CARRITO*/
.footer-nav{
  display: flex;
  background-color: var(--gris-solid);
  padding-inline: var(--spacing-128);
  height: 34.3rem;
  justify-content: space-between;
  align-items: center;
}

.footer-nav__list{
  display: flex;
  flex-direction: column;
}

.footer-nav__list>li>a{
  font-family: var(--alternative-font);
  font-size: 2em;
  font-weight: 500;
  line-height: 2.3em;
  letter-spacing: 0em;
  text-align: left;
}

.footer-all-rights-reserved{
  background-color: var(--gris-solid);
  display: flex;
  justify-content: center;

  font-family: var(--alternative-font);
  font-size: 2em;
  font-weight: 500;
  line-height: 2.3em;
  letter-spacing: 0em;
  text-align: left;
}
/**/